@font-face {
    font-family: source code;
    src: url(SourceCodePro-Regular.ttf);
}

body {
    background-color: #242424;
    margin: 15px;
}

fieldset {
    font: 20px source code;
    -webkit-text-fill-color: white;
    border: 3px dashed white;
    margin-bottom: 30px;
}

li::marker {
    color: white;
}

fieldset legend {
    background-color: #242424;
} 
p {
    font: 20px source code;
    -webkit-text-fill-color: white;
}

h2 {
    font: 25px source code;
    -webkit-text-fill-color: #FEC006;
}

a {
    color: white;
    text-decoration: underline;
}

.big-img {
    border: dashed white 2px;
    border-color: #9B9B9B;
    width: 100%;
    max-width: 950px;
}

a:hover {
    text-decoration-color: #FEC006;
    -webkit-text-fill-color: #FEC006;
}

h1 {
    font: 40px source code;
    padding: 0.3em;
    text-align: left;
    -webkit-text-fill-color: white;
    border-style: dashed none dashed none;
    border-width: 3px;
    border-color: #FEC006;
    margin-bottom: 40px;
    text-align: center;
}

.logo-holder {   
    width: auto;
    display: inline-block;   
    margin-bottom: 30px; 
  }
  
.logo-holder img {
    width: 50%;
    display: block; 
    margin: auto;
}

.nav-header {
    margin-bottom: -0.7em;
}